.profile-picture .ant-upload.ant-upload-select.ant-upload-select-picture-card,
.profile-picture .ant-upload-list-item.ant-upload-list-item-done.ant-upload-list-item-list-type-picture-card,
.profile-picture .ant-upload-list-picture-card-container {
    width: 200px;
    height: 200px;
}

.profile {
    max-width: 900px !important;
}

.profile-picture {
    height: 200px;
    margin: 20px;
    padding: 20px !important;
}

.profile-info{
    margin: 20px;
    padding: 50px !important;
}