.profile-picture .ant-upload.ant-upload-select.ant-upload-select-picture-card,
.profile-picture .ant-upload-list-item.ant-upload-list-item-done.ant-upload-list-item-list-type-picture-card,
.profile-picture .ant-upload-list-picture-card-container {
    width: 200px;
    height: 200px;
}

.profile {
    width: 100%;
    overflow: hidden;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.profile-picture {
    height: 200px;
    margin: 20px;
    padding: 20px !important;
    width: 100%;
}

.profile-info{
    margin: 20px;
    padding: 50px !important;
    width: 100%;

}